html, body {
	margin: 0;
	padding: 0;
  width: 100%; /* Largeur 100% */
  min-height:100%; /* 100% sur la hauteur */

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
   /* l'un en dessous de l'autre */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* chaque row à la ligne */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  /* centrer verticalement */
  /*justify-content: center;
  -ms-flex-pack: center;*/
  background-color: rgb(206, 197, 238);
}
p
{
font-family: Arial, Verdana, Impact, sans-serif;
color: rgb(125, 125, 125);
line-height: 1.5;
}

.row1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
   /* l'un en dessous de l'autre */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /* chaque row à la ligne */
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  width: 70%; /* A CHANGER */
  max-width: 750px;
  min-width: 460px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  /* coins arrondis */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* ombre */
  -moz-box-shadow: 2px 1px 2px #9d9d9d;
  -webkit-box-shadow: 2px 1px 2px #9d9d9d;
  box-shadow: 2px 1px 2px #9d9d9d;
}
#circle {
  margin-top: 20px;
  background-image: url(images/aaron-nb-227x244-rond-cadre.png);
  background-repeat:no-repeat;
  height:150px;
  width:150px;
  background-position:50% 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
}
#bouton{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  /* centrer horizontalement */
  align-items: center;
  -ms-flex-align: center;
  /*width:250px;*/
  /*height:50px;*/
  padding: 10px;
  margin-bottom: 20px;
  /* coins arrondis */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: rgb(211, 85, 85);
  font-size:120%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
}
#bouton a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  }
#bouton a:hover{
  color: rgb(236, 255, 83);
  }

.texte-centre{
  text-align: center;
}
.texte-justify{
  text-align: justify;
}
.col_100{
  padding-left: 20px;
  padding-right: 20px;
}
.col_33
{
  width: 33.33%;
}

h1 {
 font-size:200%;
 font-family: 'Exo 2', sans-serif;
 color: rgb(211, 85, 85);
 }

h3{
  /*font-family: 'Marck Script', cursive;*/
  font-size:150%;
  font-family: Arial, Verdana, Impact, sans-serif;
  color: rgb(125, 125, 125);
}
