html, body {
	margin: 0;
	padding: 0;
  width: 100%; /* Largeur 100% */
  min-height:100%; /* 100% sur la hauteur */

  display: flex;
  /* l'un en dessous de l'autre */
  flex-direction: column;
  /* chaque row à la ligne */
  flex-wrap: wrap;
  /* centrer horizontalement */
  justify-content: center;
  /* centrer verticalement */
  align-items: center;

  background-color: #ebebeb;
}
.row{
  width: 70%; /* A CHANGER */
  max-width: 750px;
  min-width: 520px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  /* coins arrondis */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  /* ombre */
  -moz-box-shadow: 2px 1px 2px #9d9d9d;
  -webkit-box-shadow: 2px 1px 2px #9d9d9d;
  box-shadow: 2px 1px 2px #9d9d9d;
}
.align-vertical{
  display: flex;
  /* l'un en dessous de l'autre */
  flex-direction: column;
  /* centrer horizontalement */
  justify-content: center;
}
.align-horizontal{
  display: flex;
  /* l'un à côté de l'autre */
 flex-direction: row;
 /* centrer horizontalement */
 justify-content: center;
}
#circle {
  margin-top: 20px;
  background-image: url(images/aaron-nb-227x244-rond-cadre.png);
  background-repeat:no-repeat;
  height:150px;
  width:150px;
  background-position:50% 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 3px;
  border-style: solid;
  border-color: #cccccc;
}
h1 {
  font-size:200%;
  font-family: 'Exo 2', sans-serif;
  color: rgb(211, 85, 85);
}
h3{
  /*font-family: 'Marck Script', cursive;*/
  font-size:150%;
  font-family: Arial, Verdana, Impact, sans-serif;
  color: rgb(125, 125, 125);
}
#bouton{
  display: flex;
  flex-direction: column;
  /* centrer horizontalement */
  align-items: center;
  width:250px;
  /*height:50px;*/
  padding: 10px;
  margin-bottom: 20px;
  /* coins arrondis */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #dd5555;
  font-size:120%;
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
}
#bouton a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  }
#bouton a:hover{
  color: rgb(236, 255, 83);
  }
  p
  {
    font-family: Arial, Verdana, Impact, sans-serif;
    color: #7d7d7d;
    line-height: 1.5;
  }
.bloc-icone{
  width: 100px;
  height: 50px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
.icone-fontawesome{
  color: #cccccc;
}
.legende-icone{
  font-size: 18px;
  color: #cccccc;
}
.texte-centre{
  text-align: center;
}
.texte-justify{
  text-align: justify;
}
.titre{
  font-size: 18px;
  font-weight: 600;

}
.col_100{
  padding-left: 20px;
  padding-right: 20px;
}
.col_30{
  width: 25%;
	/*min-width: 200px;*/
	padding: 28px 10px 0px 20px;
  border-style: solid;
  border: 1px;
  border-color: #3d0d0d;
}
.col_fin {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
	/*width: 75%;*/
	padding: 20px;
}
